<?xml version="1.0" encoding="UTF-8"?>
<!-- ******************************************************************************
 *
 * Pentaho
 *
 * Copyright (C) 2026 by Pentaho Canada Inc. : http://www.pentaho.com
 *
 * Use of this software is governed by the Business Source License included
 * in the LICENSE.TXT file.
 *
 * Change Date: 2030-06-15
 ******************************************************************************* -->
<settings>
	<cache>false</cache>
	<cache-messages>false</cache-messages>
	<cde-styles>
		<path>system/layoutEditor/resources/styles</path>
	</cde-styles>
  	<cde-datasources/>
	<cde-components>
	  <!-- paths from solution with cde component definitions to be loaded-->
	  <path>system/layoutEditor/resources/components</path>
	  <path>layoutEditor/components</path>
	</cde-components>
</settings>
